<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/new_assests/assets/scss/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/new_assests/assets/scss/style.css" />
    <title>Change Password</title>
</head>
<body>
    <div class="container-fluid login-background">
        <div class="row align-items-center justify-content-center pt-3">
            <div class="col-lg-6 pb-4 my-5">
                <div class="text-center">
                    <h1 class="text-primary">Logo</h1>
                </div>
                <div class="text-center d-lg-block d-none">
                    <img class="py-4 mb-2" src="/static/new_assests/assets/imgs/images/UninsuredIndividuals.webp" alt="Descriptive Image">
                    <h3 class="dark-text semibold">Fast, Efficient and Productive</h3>
                    <p class="col-md-8 m-auto">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 col-sm-9 col-12 my-5 mt-lg-5 mt-0 ms-0">
                <div class="loginForm bg-white rounded-4 py-lg-5 py-3 px-lg-5 px-md-4 px-2 mx-0 mx-xl-5" style="border-radius: 15px;">
                    <form method="POST" action="{{ url_for('doctor.doctor_change_password') }}" class="formLogin px-3">
                        <div class="text-center Welcome-back pb-3 mb-3">
                            <h2 class="bold">Change Password</h2>
                            <p>Want to go<span> <a href="{{ url_for('doctor.doctor_dashboard') }}" class="text-primary">Back to Dashboard</a></span></p>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label for="current_password" class="form-label regular small">Current Password</label>
                                <div class="password-wrapper" style="position: relative;">
                                    <input
                                        type="password"
                                        name="current_password"
                                        id="currentPassword"
                                        class="form-control"
                                        placeholder="Please Enter"
                                        required
                                        style="padding-right: 30px;">
                                    <button
                                        type="button"
                                        id="toggleCurrentPassword"
                                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
                                        aria-label="Toggle Current Password Visibility">
                                        👁️
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="new_password" class="form-label regular small">New Password</label>
                                <div class="password-wrapper" style="position: relative;">
                                    <input
                                        type="password"
                                        name="new_password"
                                        id="newPassword"
                                        class="form-control"
                                        placeholder="Please Enter"
                                        required
                                        style="padding-right: 30px;">
                                    <button
                                        type="button"
                                        id="toggleNewPassword"
                                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
                                        aria-label="Toggle New Password Visibility">
                                        👁️
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <label for="confirm_password" class="form-label regular small">Confirm New Password</label>
                                <div class="password-wrapper" style="position: relative;">
                                    <input
                                        type="password"
                                        name="confirm_password"
                                        id="confirmPassword"
                                        class="form-control"
                                        placeholder="Please Enter"
                                        required
                                        style="padding-right: 30px;">
                                    <button
                                        type="button"
                                        id="toggleConfirmPassword"
                                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
                                        aria-label="Toggle Confirm Password Visibility">
                                        👁️
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly align-items-center pt-5 mt-3">
                            <button type="submit" class="btn btn-primary px-5 w-75 text-white">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/new_assests/assets/js/jquery-3.6.3.min.js"></script>
    <script src="../../static/new_assests/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/new_assests/assets/js/main.js"></script>
    <script src="../../static/new_assests/assets/js/Toggels.js"></script>
</body>
</html>
